<section class="create-box">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="classInProgressForm">
                <div class="row">
                    <div [ngClass]="showExtraFields == true ? 'col-lg-3' : 'col-lg-12'"
                    class="col-lg-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Aula</mat-label>
                            <mat-select formControlName="classId">
                                <mat-option (click)="getSelectedClass(class)" 
                                *ngFor="let class of listAllClasses" [value]="class.id">
                                <!-- <div *ngIf="class.professors.length > 1">
                                        <div *ngFor="let professor of class.professors">
                                            <span>
                                                {{professor.name}} ,
                                            </span>
   
                                        
                                        </div>

                                </div> -->
                                <div *ngIf="class.professors.length == 1">
                                    <span [innerHTML]="class.professors[0].name"></span> |
                                    <span [innerHTML]="class.subject.code"></span> |
                                    <span [innerHTML]="class.subject.name"></span> |
                                    <span [innerHTML]="class.subject.group"></span>
                                </div> 
                                    
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="classInProgressForm.controls['classId'].hasError('required')">
                                Campo <strong> obrigatório</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2" *ngIf="showExtraFields">
                        <mat-form-field appearance="outline">
                            <mat-label>Disciplina</mat-label>
                            <input matInput formControlName="subjectName" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2" *ngIf="showExtraFields">
                        <mat-form-field appearance="outline">
                            <mat-label>Sala</mat-label>
                            <input matInput formControlName="roomName" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-lg-3" *ngIf="showExtraFields">
                        <mat-form-field appearance="outline">
                            <mat-label>Professor Responsável</mat-label>
                            <mat-select formControlName="responsibleProfessorId">
                                <mat-option *ngFor="let professor of listProfessors" [value]="professor.id">
                                    <span [innerHTML]="professor.name"></span>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="classInProgressForm.controls['responsibleProfessorId'].hasError('required')">
                                Campo <strong> obrigatório</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>    

                    <div class="col-lg-3" *ngIf="showExtraFields">
                        <mat-form-field appearance="outline">
                            <mat-label>Observação</mat-label>
                            <textarea matInput formControlName="note" placeholder=""> </textarea>
                        </mat-form-field>
                    </div>

                </div>

            </form>
            <div class="actions-field">
                <div class="create-edit">
                    <button mat-raised-button color="primary" type="submit" *ngIf="showCreateButton"
                        (click)="createClassInProgress()">CRIAR</button>
                    <button mat-raised-button color="primary" type="submit" *ngIf="!showCreateButton"
                        (click)="updateClassInProgress()">SALVAR</button>
                </div>
                <button mat-raised-button color="warn" (click)="cancelCreate()">CANCELAR</button>
            </div>
        </mat-card-content>
    </mat-card>
</section>