.card-size {
    min-width: 400px;
}

mat-card-header {
    margin-bottom: 20px;
}

.align-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.align-header-buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.content-size {
    overflow: auto;
    height: 570px;
}

.save-button {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.align-card-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}