.card-size {
    min-width: 400px;
    min-height: 400px;
    max-height: 800px;
}

mat-card-header {
    margin-bottom: 20px;
}

.align-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.align-header-buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
}