<section>
    <mat-card>

        <table mat-table
            [dataSource]="dataSource" multiTemplateDataRows
            class="mat-elevation-z8">

            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions">DETALHES</th>
                <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th> DISCIPLINA</th>
                                    <th> CÓDIGO </th>
                                    <th> CARGA HORÁRIA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subject of element.subjects">
                                    <td>{{subject.name}}</td>
                                    <td> {{subject.code}} </td>
                                    <td> {{subject.hours}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </mat-card>
</section>
