section {
  height: 100%;
}

.icons-sidenav {
  width: 40px ;
}

.card-sidenav {
  border-radius: 10px;
  padding: 10px;
}

mat-list-item:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.align-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mdc-list-item.mdc-list-item--with-one-line {
  height: 110px;
}

.crud-container {
    height: 100%;
  }

.sidenav-content {
  padding: 80px 20px;
  /* width: 80%; */
    /* display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; */
  }

.content-sidenav {
    user-select: none;
    background-color: #123994;
    padding-top: 80px;
}

.full-width {
  /* width: 100%; */
}

