<section>
    <mat-card>
        <form [formGroup]="coursesForm">
           <div class="create-fields">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Curso</mat-label>
                        <input matInput formControlName="name"
                        placeholder="Ex.: Engenharia da Computação">
                        <mat-error *ngIf="coursesForm.controls['name'].hasError('required')">
                            Campo <strong> obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                <mat-form-field appearance="fill">
                    <mat-label>Turno</mat-label>
                <mat-select formControlName="shift">
                    <mat-option *ngFor="let shift of shifts" [value]="shift.value">
                        <span [innerHTML]="shift.alias"></span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="coursesForm.controls['shift'].hasError('required')">
                    Campo <strong> obrigatório</strong>
                </mat-error>
                </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Matérias</mat-label>
                        <mat-select formControlName="subjectsIds" multiple>
                            <mat-option *ngFor="let subject of listSubjects" [value]="subject.id">
                               <span [innerHTML]="subject.code"></span> | <span [innerHTML]="subject.name"></span>
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="coursesForm.controls['subjectsIds'].hasError('required')">
                            Campo <strong> obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>
        </form>
        <div class="create-cancel">
            <button mat-raised-button *ngIf="showCreateButton" color="primary" type="submit" (click)="createCourse()">Criar</button>
            <button mat-raised-button color="primary" type="submit" (click)="updateCourse()"
            *ngIf="!showCreateButton">Salvar</button>
            <button mat-raised-button color="warn" (click)="cancelCreate()">Cancelar</button>
        </div>
    </mat-card>
</section>
