html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container::-webkit-scrollbar {
    width: 12px;
}

.mat-drawer-inner-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #D9D9D9;

}

.mat-drawer-inner-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #363636;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #D9D9D9;

}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #363636;
}